.store-name {
  align-self: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  padding-top: 13px;
  padding-left: 30px;
}

.store-header {
  padding-top: 3px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.store-price {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

.store-location {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  padding-left: 50px;
}

.image-container {
  text-align: center;
}

.store-page-image {
  max-height:auto;
  width: 57%;
}

.store-details {
  padding-top: 10px;
  padding-left: 21%;
  padding-bottom: 40px;
}

.tea-quality-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 20px;
}

.rate-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
}

.stars-row {
  padding-top: 1px;
}

.stars {
  color: gold;
  font-size: 35px;
}

.boba-quality-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 28px;
}

.sweetness-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 28px;
}

.ice-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 28px;
}

.top-seller-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 28px;
}


.heart-row-main {
  text-align: right;
  display: grid;
  grid-template-columns: 74% 4%;
  padding-left: 40px;
  padding-top: 15px;
}

.heart-list-icon-main-false {
  font-size: 35px;
}

.heart-list-icon-main-true {
  color: red;
  font-size: 35px;
}

.like-count-main {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  padding-top: 2px;
  padding-right: 15px;
}
